[IMSelector]
# ローカル IM を選択するキー
#LocalInputMethodSelectKey=
# グローバル IM を選択するキー
#GlobalInputMethodSelectKey=
# ローカルの入力メソッドをクリア
#ClearLocal=

[GlobalSelector]
# １番目の IM に切り替え
#IM1=
# ２番目のIMに切り替え
#IM2=
# 3番目のIMに切り替え
#IM3=
# 4番目のIMに切り替え
#IM4=
# 5番目のIMに切り替え
#IM5=
# 6番目のIMに切り替え
#IM6=
# 7番目のIMに切り替え
#IM7=
# 8番目のIMに切り替え
#IM8=
# 9番目のIMに切り替え
#IM9=

[LocalSelector]
# １番目の IM に切り替え
#IM1=
# ２番目のIMに切り替え
#IM2=
# 3番目のIMに切り替え
#IM3=
# 4番目のIMに切り替え
#IM4=
# 5番目のIMに切り替え
#IM5=
# 6番目のIMに切り替え
#IM6=
# 7番目のIMに切り替え
#IM7=
# 8番目のIMに切り替え
#IM8=
# 9番目のIMに切り替え
#IM9=

